* {
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    line-height:30px;
}

body {
    max-width: 60%;
    margin:5% 20%;
}

.button {
    cursor:pointer;
    height:30px;
    width:200px;
}

button {
    cursor:pointer;
    height:30px;
    width:200px;
}

.textbox {
    width:180px;
}

.hidden {
    display:none;
}

input {
    margin:10px;
}

ul {
    list-style:none;
    border:1px solid black;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }