* {
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    line-height:30px;
}

body {
    max-width: 60%;
    margin:5% 20%;
}

.button {
    cursor:pointer;
    height:30px;
    width:100px;
    border-radius:5%;
}

button {
    cursor:pointer;
    height:30px;
    width:200px;
    border-radius:5%;
}

.textbox {
    width:180px;
}

.hidden {
    display:none;
}

input {
    margin:10px;
}